In [1]:
import pandas as pd


# read data

reviews = pd.read_csv("Hotel_Reviews.csv")

# append the positive and negative text reviews
reviews["review"] = reviews["Negative_Review"] + reviews["Positive_Review"]

# create the label and make information easy to understanding
reviews["is_bad_review"] = reviews["Reviewer_Score"].apply(lambda x: 1 if x < 5 else 0)

reviews = reviews[["review", "is_bad_review"]]
reviews.head()

                                              review  is_bad_review
0   I am so angry that i made this post available...              1
1  No Negative No real complaints the hotel was g...              0
2   Rooms are nice but for elderly a bit difficul...              0
3   My room was dirty and I was afraid to walk ba...              1
4   You When I booked with your company on line y...              0